@tailwind base;
@tailwind components;
@tailwind utilities;


.navContainer {
  top:0;
  min-height: 80px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.logo {
  text-decoration: none;
}

.products{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  background-color: #144552;
  color: aliceblue;
  justify-content: space-around;

}
.iconbig {
  width: 45px;
  height: 45px;
}

.page-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #272640;
  color:aliceblue;
  @apply items-center
}

.cardCss {
  background-color: #144552;
  border-radius: 15px;
  max-width: 200px;
  max-height: 400px;
}

.link {
  text-decoration: none;
  list-style: none;
}

button[type=submit] {
  border: 2px solid #144552; 
  background-color: #006466;
  color: white;
  @apply flex justify-between items-center px-4 py-2 rounded hover:bg-teal-700 bg-teal-800 hover:text-gray-400 mt-2
}

.homepage-title {
  width: 500px;
  height: 6rem;
  margin-left: 20px;
  text-align: center;
  @apply bg-amber-500 border-amber-700 border-4
}

/* .scrolling-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  
} */
.scrolling-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.cardScroll {
  /* display: inline-block; */
  flex: 0 0 auto;
}

.descrShorten {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.main {
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 100px;
  width: 100vw;
  min-height: 100vh;
}

.footer {
  text-align: center;
  position: relative;
  padding-top: 20px;
  height: 100px;
  bottom: 0;
  width: 100%;
  clear: both;
  @apply bg-amber-500
}
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baselne;
}
.row {
  display: flex;
}

.col-ends {
  display: flex;
  justify-content: flex-end;
}

/* .pop-film-img {
  max-width: 200px;
  height: auto;
} */