@tailwind base;
@tailwind components;
@tailwind utilities;


.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background-color: #4D194D;
  color:aliceblue;
  @apply items-center
}

button[type=submit] {
  border: 2px solid #144552; 
  background-color: #006466;
  color: white;
  @apply flex justify-between items-center px-2 py-1 rounded
}

.main {
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 100px;
  width: 90vw;
  min-height: 100vh;
}

.footer {
  text-align: center;
  background: blue;
  position: relative;
  padding-top: 20px;
  height: 100px;
  bottom: 0;
  width: 100%;
  clear: both;
}
.container {
  
}
.row {
  display: flex;
}

.col {

}

.pop-film-img {
  width: 200px;
  height: auto;
}